<%- include('partials/header'); -%>


    <%- include('partials/navbar2'); -%>



        <section class="py-12 mb-24 relative">
            <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
                <div class="flex justify-center mb-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 48 48">
                        <linearGradient id="IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1" x1="9.858" x2="38.142" y1="9.858"
                            y2="38.142" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#9dffce"></stop>
                            <stop offset="1" stop-color="#50d18d"></stop>
                        </linearGradient>
                        <path fill="url(#IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1)"
                            d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                        <linearGradient id="IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2" x1="13" x2="36" y1="24.793"
                            y2="24.793" gradientUnits="userSpaceOnUse">
                            <stop offset=".824" stop-color="#135d36"></stop>
                            <stop offset=".931" stop-color="#125933"></stop>
                            <stop offset="1" stop-color="#11522f"></stop>
                        </linearGradient>
                        <path fill="url(#IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2)"
                            d="M21.293,32.707l-8-8c-0.391-0.391-0.391-1.024,0-1.414l1.414-1.414	c0.391-0.391,1.024-0.391,1.414,0L22,27.758l10.879-10.879c0.391-0.391,1.024-0.391,1.414,0l1.414,1.414	c0.391,0.391,0.391,1.024,0,1.414l-13,13C22.317,33.098,21.683,33.098,21.293,32.707z">
                        </path>
                    </svg>
                </div>


                <h2 class="font-manrope font-bold text-4xl leading-10 text-black text-center">

                    Payment Successful!
                </h2>
                <p class="mt-4 font-normal text-lg leading-8 text-gray-500 mb-11 text-center">Thanks for shopping with
                    us
                    you can
                    check your order summary below</p>
                <div class="main-box border border-gray-200 rounded-xl pt-6 max-w-xl max-lg:mx-auto lg:max-w-full">
                    <div
                        class="flex flex-col lg:flex-row lg:items-center justify-between px-6 pb-6 border-b border-gray-200">
                        <div class="data">
                            <p class="text-base leading-7 text-black">Order ID: <span
                                    class="text-indigo-600 font-medium">#<%= fullOrder.orderNumber %></span></p>
                            <% const formattedDate=((date)=> new Date(new Date(date).setDate(new Date(date).getDate() +
                                3)).toLocaleString('en-US', {timeZone: "Asia/Kolkata", day: '2-digit', month: 'long', year: 'numeric'
                                }).replace(/(\d+)(?=\s)/, '$1' + (['th','st','nd','rd'][((n)=>n%100>10&&n%100
                                <20?0:[,1,2,3,0,0,0,0,0,0][n%10])(parseInt(RegExp.$1))])) )(fullOrder.orderDate); %>
                                    <p class="text-base leading-7 text-black">Estimated Delivery date : <span
                                            class="text-black font-medium">
                                            <%= formattedDate %>
                                        </span></p>
                                    <p class=" text-base leading-7 text-black">Shipping Address : <span
                                            class="text-black font-medium">
                                            <%= address.name %>, <%= address.streetAddress %>, <%= address.city %>
                                                        <%= address.zip %>
                                        </span></p>
                        </div>
                        <a href="/account/order?order_no=<%= fullOrder.orderNumber %>">
                            <button
                            class="rounded-full py-3 px-7 font-semibold text-sm flex inline-flex leading-7 text-white bg-indigo-600 max-lg:mt-5 shadow-sm shadow-transparent transition-all duration-500 hover:bg-indigo-700 hover:shadow-indigo-400">
                            <svg class="w-4 h-4 mr-2 mt-1.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                              </svg>  
                            Track
                            Your Order</button>
                        </a>
                    </div>
                    <div class="w-full px-3 min-[400px]:px-6">

                        <% fullOrder.products.forEach(orderProduct => { %>

                            <div class="bg-white border-b border-gray-200 px-3 py-4 mb-6 mt-2">
                                <div class="flex items-center space-x-4">
                                    <div class="w-20 h-20">
                                        <img onerror="this.src='https://placehold.co/400?text=Product image not available&font=pt-sans'" src="<%= orderProduct.product.imageUrl %>" alt="Product-image"
                                            class="object-cover" />
                                    </div>
                                    <div>
                                        <h2 class="text-md md:text-xl font-bold productLinkCart">
                                            <%= orderProduct.product.name %>
                                        </h2>
                                        <p class="text-gray-700 text-xs md:text-lg mt-1">
                                            <%= orderProduct.product.description %>
                                        </p>
                                    </div>
                                </div>
                                <div class="flex items-center justify-between mt-4">
                                    <div class="flex items-center">
                                        <label for="quantity2" class="block text-sm font-medium text-gray-700">Qty: <%=
                                                orderProduct.quantity %></label>
                                    </div>
                                    <div class="text-right">
                                        <p class="text-lg md:text-3xl font-semibold">$<%= orderProduct.product.price %>.00</p>
                                    </div>
                                </div>
                            </div>

                            <% }); %>


                                <div
                                    class="w-full border-t border-gray-200 px-6 flex flex-col lg:flex-row items-center justify-between ">
                                    <div class="flex flex-col sm:flex-row items-center max-lg:border-b border-gray-200">
                                        <button
                                            class="flex outline-0 py-6 sm:pr-6  sm:border-r border-gray-200 whitespace-nowrap gap-2 items-center justify-center font-semibold group text-lg text-black bg-white transition-all duration-500 hover:text-red-500">
                                            <svg class="stroke-black transition-all duration-500 group-hover:stroke-red-500"
                                                xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                viewBox="0 0 22 22" fill="none">
                                                <path d="M5.5 5.5L16.5 16.5M16.5 5.5L5.5 16.5" stroke=""
                                                    stroke-width="1.6" stroke-linecap="round" />
                                            </svg>
                                            Cancel Order
                                        </button>
                                        <% if(fullOrder.paymentMethod ==='amazon_pay' ){ %>
                                            <p class="font-medium text-lg text-gray-900 pl-6 py-3 max-lg:text-center">
                                                Paid using Amazon Pay</span></p>
                                            <% } else if (fullOrder.paymentMethod ==='card' )  { %>
                                                <p class="font-medium text-lg text-gray-900 pl-6 py-3 max-lg:text-center">
                                                    Paid using Card</span></p>
                                                <% } else if (fullOrder.paymentMethod === 'link') { %>
                                                    <p class="font-medium text-lg text-gray-900 pl-6 py-3 max-lg:text-center">
                                                        Paid using Link</span></p>
                                                <% } else { %>
                                                    <p class="font-medium text-lg text-gray-900 pl-6 py-3 max-lg:text-center">
                                                        Cash on Delivery</span></p>
                                                <% } %>
                                    </div>
                                    <p class="font-semibold text-lg text-black py-6">Order Amount: <span
                                            class="text-indigo-600"> $<%= fullOrder.orderValue %>.00</span></p>
                                </div>

                    </div>
                </div>
        </section>


        <%- include('partials/footer'); -%>