<%- include('partials/header'); -%>

<%- include('partials/navbar2'); -%>

<section class="pb-24 pt-16 relative">
    <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
        <div class="w-full flex-col justify-start items-start lg:gap-14 gap-10 inline-flex">
            <h2 class="w-full text-gray-900 text-2xl md:text-3xl font-bold font-manrope leading-normal">Refund Status for Order ID - <span class="text-indigo-600"><%= order.orderNumber %></span></h2>
            <div class="w-full flex-col justify-start items-start gap-9 flex">
                <div
                    class="w-full p-5 rounded-xl border border-gray-200 sm:justify-start justify-center items-center gap-5 flex sm:flex-row flex-col">
                    <div
                        class="w-full flex-col justify-center sm:items-start items-center gap-5 inline-flex sm:pr-5 sm:pb-0 pb-5 sm:border-r sm:border-b-0 border-b border-gray-200">
                        <h6 class="text-gray-900 text-base font-semibold leading-relaxed">Order Date:
                            <span class="text-gray-500 font-medium">
                                <%= new Date(order.orderDate).toLocaleDateString('en-GB', {
                                    timeZone: "Asia/Kolkata",
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric'
                                  }) %>
                            </span>
                        </h6>
                        <h6 class="text-gray-900 text-base font-semibold leading-relaxed">Refund Method:
                            <% if (order.paymentMethod === 'amazon_pay') { %>
                                <span class="text-gray-500 font-medium">Amazon Pay</span>
                            <% } else { %>
                                <span class="text-gray-500 font-medium">Card</span>
                            <% } %>
                        </h6>
                    </div>
                    <div class="w-full flex-col justify-center sm:items-start items-center gap-5 inline-flex">
                        <h6 class="text-gray-900 text-base font-semibold leading-relaxed">Refund Date:
                            <span class="text-gray-500 text-base font-medium leading-relaxed">
                                <%= new Date(refund.created * 1000).toLocaleDateString('en-GB', {
                                    timeZone: "Asia/Kolkata",
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric'
                                  }) %>
                            </span>
                        </h6>
                        <h6 class="text-gray-900 text-base font-semibold leading-relaxed">Refund Amount:
                            <span class="text-gray-500 text-base font-medium leading-relaxed">$<%= order.orderValue %></span>
                        </h6>
                    </div>
                </div>
                
               

                <ol class="relative my-6 border-s border-gray-200 ml-2 null:border-gray-700">

                    <li class="mb-10 ms-6">
                      <span class="absolute -start-2.5 flex h-5 w-5 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white null:bg-gray-800 null:ring-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M8.92958 11.9106C8.92958 11.9106 8.93233 11.9093 8.93699 11.9086C8.93177 11.9106 8.92958 11.9106 8.92958 11.9106Z"
                                        fill="#4F46E5" />
                                    <path
                                        d="M8.95662 11.9086C8.96128 11.9093 8.96403 11.9106 8.96403 11.9106C8.96403 11.9106 8.96184 11.9106 8.95662 11.9086Z"
                                        fill="#4F46E5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M8.94001 0.199707H11.0597C12.8945 0.19969 14.353 0.199676 15.4955 0.353289C16.6735 0.511662 17.6348 0.846394 18.394 1.6056C19.1532 2.3648 19.4879 3.32606 19.6463 4.50402C19.7999 5.64658 19.7999 7.10502 19.7999 8.93985V11.0596C19.7999 12.8944 19.7999 14.3528 19.6463 15.4954C19.4879 16.6734 19.1532 17.6346 18.394 18.3938C17.6348 19.153 16.6735 19.4878 15.4955 19.6461C14.353 19.7997 12.8945 19.7997 11.0597 19.7997H8.93999C7.10516 19.7997 5.64672 19.7997 4.50417 19.6461C3.3262 19.4878 2.36494 19.153 1.60574 18.3938C0.846539 17.6346 0.511807 16.6734 0.353434 15.4954C0.199821 14.3528 0.199835 12.8944 0.199852 11.0596V8.93986C0.199835 7.10503 0.199821 5.64658 0.353434 4.50402C0.511807 3.32606 0.846539 2.3648 1.60574 1.6056C2.36494 0.846394 3.3262 0.511662 4.50417 0.353289C5.64672 0.199676 7.10518 0.19969 8.94001 0.199707ZM15.236 7.96437C15.5484 7.65195 15.5484 7.14542 15.236 6.833C14.9236 6.52058 14.4171 6.52058 14.1046 6.833L9.79534 11.1423C9.44601 11.4916 9.23972 11.6955 9.07398 11.822C9.00748 11.8727 8.96734 11.8952 8.94681 11.9045C8.92628 11.8952 8.88613 11.8727 8.81964 11.822C8.65389 11.6955 8.44761 11.4916 8.09828 11.1423L6.56559 9.60962C6.25317 9.2972 5.74664 9.2972 5.43422 9.60962C5.1218 9.92204 5.1218 10.4286 5.43422 10.741L7.00002 12.3068C7.3047 12.6116 7.58742 12.8944 7.84911 13.094C8.13871 13.315 8.49446 13.508 8.94681 13.508C9.39916 13.508 9.7549 13.315 10.0445 13.094C10.3062 12.8944 10.5889 12.6116 10.8936 12.3068L15.236 7.96437Z"
                                        fill="#4F46E5" />
                                </svg>
                      </span>
                      <h3 class="mb-1.5 text-lg font-semibold leading-none text-gray-900 null:text-white">Your request has been successfully received.</h3>
                      <ul>
                        <h6 class="text-gray-500 text-base font-normal leading-relaxed">Your request has been successfully received. We have initiated your refund successfully.</h6>
                        <h6 class="text-indigo-600 mt-2 text-sm font-normal leading-relaxed break-words overflow-hidden">
                            Refund ID: <%= refund.id %>
                        </h6>
                        <h6 class="text-indigo-600 text-sm font-normal leading-relaxed break-words overflow-hidden">
                            <%= new Date(refund.created * 1000).toLocaleDateString('en-US', { timeZone: "Asia/Kolkata", year: 'numeric', month: 'long', day: 'numeric' }) %>,
                            <%= new Date(refund.created * 1000).toLocaleTimeString('en-US', { timeZone: "Asia/Kolkata", hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true }) %>
                        </h6>
                    </ul>                    
                </li>
            
                    <li class="mb-10 ms-6">
                      <span class="absolute -start-2.5 flex h-5 w-5 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white null:bg-gray-800 null:ring-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M8.92958 11.9106C8.92958 11.9106 8.93233 11.9093 8.93699 11.9086C8.93177 11.9106 8.92958 11.9106 8.92958 11.9106Z"
                                        fill="#4F46E5" />
                                    <path
                                        d="M8.95662 11.9086C8.96128 11.9093 8.96403 11.9106 8.96403 11.9106C8.96403 11.9106 8.96184 11.9106 8.95662 11.9086Z"
                                        fill="#4F46E5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M8.94001 0.199707H11.0597C12.8945 0.19969 14.353 0.199676 15.4955 0.353289C16.6735 0.511662 17.6348 0.846394 18.394 1.6056C19.1532 2.3648 19.4879 3.32606 19.6463 4.50402C19.7999 5.64658 19.7999 7.10502 19.7999 8.93985V11.0596C19.7999 12.8944 19.7999 14.3528 19.6463 15.4954C19.4879 16.6734 19.1532 17.6346 18.394 18.3938C17.6348 19.153 16.6735 19.4878 15.4955 19.6461C14.353 19.7997 12.8945 19.7997 11.0597 19.7997H8.93999C7.10516 19.7997 5.64672 19.7997 4.50417 19.6461C3.3262 19.4878 2.36494 19.153 1.60574 18.3938C0.846539 17.6346 0.511807 16.6734 0.353434 15.4954C0.199821 14.3528 0.199835 12.8944 0.199852 11.0596V8.93986C0.199835 7.10503 0.199821 5.64658 0.353434 4.50402C0.511807 3.32606 0.846539 2.3648 1.60574 1.6056C2.36494 0.846394 3.3262 0.511662 4.50417 0.353289C5.64672 0.199676 7.10518 0.19969 8.94001 0.199707ZM15.236 7.96437C15.5484 7.65195 15.5484 7.14542 15.236 6.833C14.9236 6.52058 14.4171 6.52058 14.1046 6.833L9.79534 11.1423C9.44601 11.4916 9.23972 11.6955 9.07398 11.822C9.00748 11.8727 8.96734 11.8952 8.94681 11.9045C8.92628 11.8952 8.88613 11.8727 8.81964 11.822C8.65389 11.6955 8.44761 11.4916 8.09828 11.1423L6.56559 9.60962C6.25317 9.2972 5.74664 9.2972 5.43422 9.60962C5.1218 9.92204 5.1218 10.4286 5.43422 10.741L7.00002 12.3068C7.3047 12.6116 7.58742 12.8944 7.84911 13.094C8.13871 13.315 8.49446 13.508 8.94681 13.508C9.39916 13.508 9.7549 13.315 10.0445 13.094C10.3062 12.8944 10.5889 12.6116 10.8936 12.3068L15.236 7.96437Z"
                                        fill="#4F46E5" />
                                </svg>
                      </span>
                      <h3 class="mb-1.5 text-lg font-semibold leading-none text-gray-900 null:text-white">Your refund has been processed.</h3>
                      <ul>
                        <h6 class="text-gray-500 text-base font-normal leading-relaxed">We have processed your refund successfully.</h6>
                        <h6 class="text-indigo-600 mt-2 text-sm font-normal leading-relaxed">
                            Refund Reference Number (RRN) : <%= refund.destination_details.card.reference  %>
                        </h6>
                        <h6 class="text-indigo-600 text-sm font-normal leading-relaxed">
                            Amount : $<%= refund.amount /100 %>
                        </h6>
                        <h6 class="text-indigo-600 text-sm font-normal leading-relaxed">
                            <%= new Date(refund.created * 1000).toLocaleDateString('en-GB', {
                                timeZone: "Asia/Kolkata",
                                year: 'numeric',
                                month: 'long',
                                day: 'numeric'
                              }) %>,
                              <%= new Date(refund.created * 1000).toLocaleTimeString('en-GB', {
                                timeZone: "Asia/Kolkata",
                                hour: '2-digit',
                                minute: '2-digit',
                                second: '2-digit',
                                hour12: true
                              }) %>
                        </h6>
                    </ul>                    
                </li>
            
                    <li class="ms-6">
                      <span class="absolute -start-2.5 flex h-5 w-5 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white null:bg-gray-800 null:ring-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M8.92958 11.9106C8.92958 11.9106 8.93233 11.9093 8.93699 11.9086C8.93177 11.9106 8.92958 11.9106 8.92958 11.9106Z"
                                        fill="#4F46E5" />
                                    <path
                                        d="M8.95662 11.9086C8.96128 11.9093 8.96403 11.9106 8.96403 11.9106C8.96403 11.9106 8.96184 11.9106 8.95662 11.9086Z"
                                        fill="#4F46E5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M8.94001 0.199707H11.0597C12.8945 0.19969 14.353 0.199676 15.4955 0.353289C16.6735 0.511662 17.6348 0.846394 18.394 1.6056C19.1532 2.3648 19.4879 3.32606 19.6463 4.50402C19.7999 5.64658 19.7999 7.10502 19.7999 8.93985V11.0596C19.7999 12.8944 19.7999 14.3528 19.6463 15.4954C19.4879 16.6734 19.1532 17.6346 18.394 18.3938C17.6348 19.153 16.6735 19.4878 15.4955 19.6461C14.353 19.7997 12.8945 19.7997 11.0597 19.7997H8.93999C7.10516 19.7997 5.64672 19.7997 4.50417 19.6461C3.3262 19.4878 2.36494 19.153 1.60574 18.3938C0.846539 17.6346 0.511807 16.6734 0.353434 15.4954C0.199821 14.3528 0.199835 12.8944 0.199852 11.0596V8.93986C0.199835 7.10503 0.199821 5.64658 0.353434 4.50402C0.511807 3.32606 0.846539 2.3648 1.60574 1.6056C2.36494 0.846394 3.3262 0.511662 4.50417 0.353289C5.64672 0.199676 7.10518 0.19969 8.94001 0.199707ZM15.236 7.96437C15.5484 7.65195 15.5484 7.14542 15.236 6.833C14.9236 6.52058 14.4171 6.52058 14.1046 6.833L9.79534 11.1423C9.44601 11.4916 9.23972 11.6955 9.07398 11.822C9.00748 11.8727 8.96734 11.8952 8.94681 11.9045C8.92628 11.8952 8.88613 11.8727 8.81964 11.822C8.65389 11.6955 8.44761 11.4916 8.09828 11.1423L6.56559 9.60962C6.25317 9.2972 5.74664 9.2972 5.43422 9.60962C5.1218 9.92204 5.1218 10.4286 5.43422 10.741L7.00002 12.3068C7.3047 12.6116 7.58742 12.8944 7.84911 13.094C8.13871 13.315 8.49446 13.508 8.94681 13.508C9.39916 13.508 9.7549 13.315 10.0445 13.094C10.3062 12.8944 10.5889 12.6116 10.8936 12.3068L15.236 7.96437Z"
                                        fill="#4F46E5" />
                                </svg>
                      </span>
                      <h3 class="mb-1.5 text-lg font-semibold leading-none text-gray-900 null:text-white">Refund completed</h3>
                      <h6 class="text-gray-500 text-base font-normal">We have credited the amount back to the original payment method. It may take around 4-7 business days for it to be reflected in your payment method.</h6>
                    </li>
                  </ol>


            </div>
            <div class="w-full mt-12 md:mt-1 justify-center items-center gap-5 flex sm:flex-row flex-col">
                <a href="/">
                    <button
                    class="md:w-fit w-full px-5 py-2.5 bg-indigo-50 hover:bg-indigo-100 transition-all duration-700 ease-in-out rounded-xl justify-center items-center flex">
                    <span class="px-2 py-px text-indigo-600 text-base font-semibold leading-relaxed">Back to
                        Shopping</span>
                </button>
                </a>
            </div>
        </div>
    </div>
</section>
                                                


<%- include('partials/footer'); -%>